/*styles for subpages.css*/

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h1, h3 {
    background-color: darkblue;
    color: white;
}

h1 {
    text-align: center;
}

button {
    margin: 0 auto;
}